* {
    box-sizing: border-box; /* sets box size based on border instead of default content */
    font-family: Cabin;
}

header {
    margin-bottom: 10px;
}

h1 { 
    padding: 10px;
}

/* main {
    display: flex;
    min-width: 200px;
} */

.headerContainer {
    display: flex;
    justify-content: start;
    padding: 10px;
    margin: 0 auto;
    background: #0253a4;
    color: white;
}

body {
    background: #0253a4;
}