* {
    box-sizing: border-box; /* sets box size based on border instead of default content */
    font-family: Cabin;
}

header {
    margin-bottom: 10px;
}

h1 { 
    padding: 10px;
}

.headerContainer {
    display: flex;
    justify-content: start;
    padding: 10px;
    margin: 0 auto;
    background: #0253a4;
    color: white;
}

.warning-hide {
    display: none;
}